body {    
  background-color: #486d46;
  background-image: url("ippon-matsu.jpg");
}

/* タイプセレクタ。pタグ全てに適用される */
p { 
  color: blue; 
}


/*
﻿<style type="text/css"> 

body {    
  background-color: #486d46;  
  background-image: url("ippon-matsu.jpg");
  background-size: cover;  
  background-attachment: fixed; 
  background-position: center center;
}

p { 
  color: blue; 
}

</style>
*/





