
/* h1ヘッダーに背景を付ける */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("ippon-matsu.jpg") no-repeat center center / cover; 
  height: 200px;
  color: #FFF;
  font-size: 200%;
  font-weight: bold;
}


/* 吹き出し 顔が左側パターン */
.balloon1 {
  width: 100%; 
  margin: 1.5em 0; 
  overflow: hidden; 
}
.balloon1 .faceicon {
   float: left;
   margin-right: -90px;
   width: 80px; 
} 
.balloon1 .faceicon img {
   width: 100%;
   height: auto;
   border: solid 3px #d7ebfe;
   border-radius: 50%; 
}  
.balloon1 .chatting {
 width: 100%; 
}
.says1 {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe; 
}
.says1:after {
  content: "";
  display: inline-block; 
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe; 
}
.says1 p {
   margin: 0;
   padding: 0; 
}


/* 吹き出し 顔が右側パターン */
.balloon2 {
  width: 100%; 
  margin: 0 1.5em; 
  overflow: hidden; 
}
.balloon2 .faceicon {
   float: right;
   margin-left: -90px;
   width: 80px; 
} 
.balloon2 .faceicon img {
   width: 100%;
   height: auto;
   border: solid 3px #d7ebfe;
   border-radius: 50%; 
}  
.balloon2 .chatting {
 width: 100%; 
}
.says2 {
  display: inline-block;
  position: relative;
  margin: 5px 105px 0 0;   /* margin top right bottom left */
  padding: 13px 17px;
  border-radius: 12px;
  background: #d7ebfe; 
}
.says2:after {
  content: "";
  display: inline-block; 
  position: absolute;
  top: 18px;
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid #d7ebfe; 
}
.says2 p {
   margin: 0;
   padding: 0; 
}



/*﻿  ここからコメント行 参照の為
<style type="text/css"> 
body { 
  background-color: #486d46; 
  background-image: url("ippon-matsu.jpg");
  background-size: cover; 
  background-attachment: fixed;
  background-position: center center;
}

p { 
  color: blue;
}
</style>
*/ 
