
/* h1ヘッダーに背景を付ける */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("ippon-matsu.jpg") no-repeat center center / cover; 
  height: 200px;
  color: #FFF;
  font-size: 200%;
  font-weight: bold;
}


/* Bodyに背景を付ける＝サイト全体 タイル画像 */
Body {
  background: url("floor-tile.png")
}


/* 文字の大きさと色を同時に指定 mapのリンク文字用 */
.FontStyle1 {
  font-weight: bold;
  font-size: 200%;
  color: #6495ED;
}


/*メインページのリンクbox用 */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; 
} 
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* font-size: 62.5%; */   /*removed - rem算出をしやすくするために*/ 
} 
.btn, a.btn, button.btn {
  font-size: 1.2rem;   /* changed from 1.6 */
  font-weight: 400;      /* changed from 700 */
  line-height: 0.5;         /* changed from 1.5 */
  display: inline-block;
  padding: 1rem 6rem;    /* changed from 1rem 4rem */
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem; 
}
 a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00; 
}
  a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00; 
}
a.btn--shadow {
  -webkit-box-shadow:
  0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3); 
}



/* 吹き出し 顔が右側パターン */
.balloon1 {
  width: 100%; 
  margin: 0 1.5em; 
  overflow: hidden; 
}
.balloon1 .faceicon {
   float: right;
   margin-left: -90px;
   width: 80px; 
} 
.balloon1 .faceicon img {
   width: 100%;
   height: auto;
   border: solid 3px khaki;
   border-radius: 50%; 
}  
.balloon1 .chatting {
 width: 100%; 
}
.says1 {
  display: inline-block;
  position: relative;
  margin: 5px 105px 0 0;   /* margin top right bottom left */
  padding: 13px 17px;
  border-radius: 12px;
  background: khaki; 
}
.says1:after {
  content: "";
  display: inline-block; 
  position: absolute;
  top: 18px;
  right: -24px;
  border: 12px solid transparent;
  border-left: 12px solid khaki; 
}
.says1 p {
   margin: 0;
   padding: 0; 
}


/* 吹き出し 顔が左側パターン */
.balloon2 {
  width: 100%; 
  margin: 1.5em 0; 
  overflow: hidden; 
}
.balloon2 .faceicon {
   float: left;
   margin-right: -90px;
   width: 80px; 
} 
.balloon2 .faceicon img {
   width: 100%;
   height: auto;
   border: solid 3px lightpink;
   border-radius: 50%; 
}  
.balloon2 .chatting {
 width: 100%; 
}
.says2 {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: lightpink; 
}
.says2:after {
  content: "";
  display: inline-block; 
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid lightpink; 
}
.says2 p {
   margin: 0;
   padding: 0; 
}

/*吹き出し アイコンの下の名前*/
.balloon1 .faceicon figcaption ,
.balloon2 .faceicon figcaption {
      padding:2px 0 0;
      font-size:12px;
      text-align:center;
}
